* {
  font-family: "Open Sans";
}

ul, p {
  margin: 0;
}

.info {
  position: absolute;
  top:0;
  right:0;
  z-index: 1;
}

#contact-icon {
  color: white;
  margin: 10px 10px 0 0;
  font-size: 30px;
}

.info__box {
  opacity: 0;
  color: white;
  transition:0.6s;
  font-size: 14px;
  margin-top: 10px;
  right:-100;
}

#contact-icon:hover + .info__box {
  opacity: 1;
  visibility: visible;
  margin: 10px 50px;
  right: 0;
}

.title {
  top: 0;
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22222A;
}

.title__logo {
  width: 91px;
  height: 105px;
  background: url(ArcusLogo.png);
}

.navbar {
  display: flex;
  height: 47px;
  margin: 0;
  background-color: #64B0D8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
}

.navbar__list {
  list-style-type: none;
}

.navbar__item {
  display: inline-block;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-weight:300;
}

.navbar__item a {
  padding: 7px 20px;
  text-decoration: none;
  color: white;
}

.main {
  margin: 20px 20px 20px 20px;
}

.content {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.content__title {
  margin-top: 50px;
  font-size: 24px;
  color: #64B0D8;
  text-transform: uppercase;
  font-weight: 400;
}

.content__body {
  margin-top: 30px;
  padding-bottom: 60px;
}

.content__body p {
  color: #727272;
}

.content__header {
  display: flex;
  align-items: center;
  top:0;
}

.content__header span {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0px 10px;
}

.header--title {
  font-size: 20px;
  color: #575757;
}

.header--author {
  font-size: 12px;
  font-style: italic;
  color: #7c7c7c;
}

.content__footer {
  position: absolute;
  bottom: 30px;
  left: 20px;
  text-align: center;
}

.content__button {
  padding: 4px 40px;
  color: white;
  background: #64B0D8;
  border-radius: 25px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.item--hover:hover {
  /* background-image: url(http://i.stack.imgur.com/5udh0.png); */
  box-shadow: inset 0 -3px white
}

.button--hover:hover {
  background-image: url(http://i.stack.imgur.com/5udh0.png);
  /* box-shadow: inset 0 -3px white */
}

.selected {
  box-shadow: inset 0 -3px rgb(255,185,131)
}

/* $color-primary1: #37474F; // Slate
$color-primary2: #64B0D8; // Sky Blue
$color-primary3: #FF9746; // Tangerine
$color-primary4: #CCCCCC; // Silver

$color-secondary1: #FFDF81; // Sunny Yellow
$color-secondary2: #61668A; // Purple Blue
$color-secondary3: #2F3352; // Eggplant
$color-secondary4: #66DDCA; // Teal

$color-shades1: #FFE0C9; // Light Orange
$color-shades2: #DAEFFA; // Light Blue
$color-shades3: #B8EDE5; // Light Teal

$color-greys1: #ECEFF1; // Cirrus Grey
$color-greys2: #B6B6B6; // Stratus Grey
$color-greys3: #888888; // Grey

$color-success: #66DDCA;
$color-danger: #FF4646;
$color-warning: #FF9746;
$color-info: #64B0D8;

$color-success-background: #B8EDE5;
$color-danger-background: #FFC9C9;
$color-warning-background: #FFE0C9;
$color-info-background: #DAEFFA;

$color-menu: #C1C1C1;
$color-menu-background: #22222A;
$color-menu-primary: #7DC6EC;
$color-menu-divider: #424242; */